@page "/prueba2"
@using PimWebApp.Data
@using PimWebApp.Interfaz
@inject IUsuarioServices UsuariosServicio

<h3>Nuevo Usuario</h3>

<EditForm Model="@usuario">
    <table class="table">
        <tr>
            <td>URL:</td>
            <td><input type="text" @bind="usuario.Direccion" /></td>
        </tr>
        <tr>
            <td>Usuario:</td>
            <td><input type="text" @bind="usuario.NombreUsuario" /></td>
        </tr>
        <tr>
            <td>Correo:</td>
            <td><input type="text" @bind="usuario.Correo" /></td>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td><input type="text" @bind="usuario.Contraseña" /></td>
        </tr>
        <tr>
            <td>Nota:</td>
            <td><input type="text" @bind="usuario.Nota" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-primary" value="Guardar" @onclick="Guardar" />
                <input type="button" class="btn btn-danger" value="Cancelar" @onclick="Cancelar" />

            </td>
        </tr>

    </table>

</EditForm>
@code {
    Usuario usuario = new Usuario();

    protected async Task Guardar()
    {
        await UsuariosServicio.GuardarUsuario(usuario);
    }
    protected void Cancelar()
    {

    }
}
