
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<form>
    <fieldset>
        <input type="search" placeholder="Search" autofocus required/>
        <button type="submit">
            <img  class="fa-search" src="imagenes/contacts/buscarIcono.png" />
        </button>

    </fieldset>
</form>

<!--
<div class="searchContact">


    <form method="get">
        <input type="search" name="q" placeholder="Search" autofocus required>
        <button type="submit" class="btn btn-default btn-info" value="Buscar"><img src="imagenes/contacts/buscarIcono.png" /></button>
        <input type="hidden" name="as_sitesearch" value="Contacts">
    </form>
</div>

    -->


@code {

}
